/* body *{
    border: solid 1px red;
} */

body{
    background: #0d1117;
    color: white;
    font-size: 300%;
}

.viewport{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    height: 95vh;
    align-items: center;
    justify-content: center;
}

#time{
    text-align: center;
}
#clock{
    font-size: 185%;
    background: linear-gradient(210deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

form.search {
    background: white;
    display: flex;
    flex-direction: row;
    height:10vh;
    width: 70vw;
    border-radius: 5cm;
    gap: 3%;
    padding: 0 5% 0 5%;
    
}
form.search > [type = "image"]{
    margin: auto;
    height: 50%;
}
form.search > [type = "search"]{
    flex-grow: 9;
    width: fit-content;
    border: none;
    outline: none;
    border-radius: inherit;
    font-size: 4vh;
}
